// Colors
$yellow: rgb(255, 220, 82);
$jet-black: hsl(330, 100%, 0%);
$white: hsla(197, 33%, 96%);

$yellow-alp: hsla(48, 100%, 66%, 0.25);
$jet-black-alp: hsla(330, 100%, 0%, 0.4);
$white-alp: hsla(0, 0%, 96%, 0.25);

// Typography

$ff-primary: "Roboto", sans-serif;

$fs-sm: 0.6875rem;
$fs-md: 0.8125rem;
$fs-lr: 1.25rem;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// gap

$gap: 1rem;
