// Colors
$yellow: rgb(255, 220, 82);
$jet-black: hsl(330, 100%, 0%);
$white: #f3f4f6;

$yellow-alp: hsla(48, 100%, 66%, 0.25);
$jet-black-alp: hsla(330, 100%, 0%, 0.4);
$white-alp: hsla(0, 0%, 96%, 0.25);
$white-alp-one: hsla(0, 0%, 96%, 0.9);
$light-grey: #949494;
$grey: #dee2e6;
$med-grey: #f2f2f2;
$dark-grey: #808080;

$green: #2ccc69;

// Typography

$ff-primary: "AR One Sans", sans-serif;

$fs-xxs: 0.4275rem;
$fs-xs: 0.5345rem;
// $fs-sm: 0.6875rem;
$fs-s: 0.8125rem;
$fs-m: 1rem;

$fs-l: 1.25rem;
$fs-xl: 1.75rem;
$fs-xxl: 2.5rem;
$fs-xxxl: 5rem;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// gap

$gap: 1rem;
