/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.main-display {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation__section-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__section-left--image {
  width: 1.5rem;
  height: 1.5rem;
}
.navigation__section-left--span {
  margin-left: 0.75rem;
  font-size: 0.8125rem;
  color: hsl(330, 100%, 0%);
  text-transform: capitalize;
  font-weight: 700;
}
.navigation__section-right__list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navigation__section-right__list--item {
  border: 1px solid hsl(330, 100%, 0%);
  margin-bottom: 0.3rem;
  width: 1.25rem;
  transition: all 300ms ease-in-out;
}
.navigation__section-right__list--item:nth-child(3) {
  margin-bottom: 0rem;
}
.navigation__section-right__list.open > span:nth-child(1) {
  transform-origin: 3px 3px;
  transform: rotate(45deg);
}
.navigation__section-right__list.open > span:nth-child(2) {
  opacity: 0;
}
.navigation__section-right__list.open > span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -1px -2px;
}
.navigation .desktop {
  display: none;
}

.navigation-menu {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  background: hsla(0, 0%, 96%, 0.9);
  margin-top: 2.975rem;
  z-index: 99;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.navigation-menu a {
  display: block;
  text-decoration: none;
  color: hsl(330, 100%, 0%);
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 0.5rem;
  width: 100vw;
  transition: all 300ms ease-in-out;
  letter-spacing: 0.05rem;
  font-family: "Roboto", sans-serif;
}
.navigation-menu a:hover {
  background-color: hsla(330, 100%, 0%, 0.4);
  color: #f3f4f6;
  font-weight: 900;
}

@media (min-width: 50rem) {
  .navigation {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .navigation .mobile {
    display: none;
  }
  .navigation .desktop {
    display: block;
  }
  .navigation__section-right__link {
    font-size: 0.8125rem;
    text-decoration: none;
    margin-right: 1rem;
    text-transform: capitalize;
    color: hsl(330, 100%, 0%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .navigation__section-right__link:hover {
    background-color: #ebbb00;
    padding: 0.35rem 0.85rem;
    border-radius: 2rem;
    font-weight: 500;
  }
  .navigation-menu {
    display: none;
  }
}
.section-one {
  position: relative;
}
.section-one__video {
  width: 100%;
  height: auto;
}
.section-one__overlay {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background-color: hsla(330, 100%, 0%, 0.4);
}
.section-one__heading {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f3f4f6;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-align: center;
}

@media (min-width: 50rem) {
  .section-one__heading {
    font-size: 5rem;
  }
  .section-one__overlay {
    height: 99%;
  }
}
.section-two {
  text-align: center;
}
.section-two__heading {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-two__client {
  display: grid;
  gap: 1rem 0rem;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.section-two__client--facebook {
  grid-column: span 2;
}
.section-two__client--meta, .section-two__client--adidas, .section-two__client--facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
  height: 12rem;
  padding: 0 1.5rem;
  background-color: #fff;
  box-shadow: 0px 10px 16px 7px rgba(0, 0, 0, 0.1);
  border: transparent;
  border-radius: 1rem;
}
.section-two__client--meta p, .section-two__client--adidas p, .section-two__client--facebook p {
  font-size: 0.5345rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.section-two__client--meta img.icon, .section-two__client--adidas img.icon, .section-two__client--facebook img.icon {
  width: 4rem;
}
.section-two__client--meta .link, .section-two__client--adidas .link, .section-two__client--facebook .link {
  text-decoration: none;
  color: hsl(330, 100%, 0%);
  text-transform: capitalize;
  border: 1px solid hsl(330, 100%, 0%);
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  font-size: 0.4275rem;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 50rem) {
  .section-two__client {
    gap: 0rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-two__client--facebook {
    grid-column: span 1;
  }
  .section-two__client--meta, .section-two__client--adidas, .section-two__client--facebook {
    width: 12rem;
    height: 18rem;
    padding: 1.5rem;
  }
  .section-two__client--meta img.icon, .section-two__client--adidas img.icon, .section-two__client--facebook img.icon {
    width: 18rem;
  }
  .section-two__client p {
    margin-bottom: 1.15rem;
  }
  .section-two__client .link {
    font-size: 0.5345rem;
  }
}
.section-three {
  text-align: center;
  padding: 0 0.5rem;
}
.section-three__heading {
  font-weight: 500;
  text-transform: capitalize;
  margin: 1rem 0;
}
.section-three .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.section-three__photography {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-three__photography:nth-child(1) {
  grid-column: span 2;
}
.section-three__photography:nth-child(4) {
  grid-column: span 2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1rem;
  background-color: hsl(330, 100%, 0%);
}
.footer__description {
  flex: 3;
}
.footer__description--para {
  font-size: 0.8125rem;
  font-style: italic;
  margin-right: 1rem;
  color: #f3f4f6;
}
.footer__description--para .span {
  font-weight: 700;
}
.footer__socials--icons {
  display: flex;
  flex-direction: column;
}

i {
  color: #f3f4f6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
i:hover {
  color: rgb(255, 220, 82);
  font-weight: 500;
  transform: scale(1.25);
}

@media (min-width: 50rem) {
  .footer {
    flex-direction: column;
  }
  .footer__socials--icons {
    flex-direction: row;
  }
  .footer__socials--icons i {
    padding: 0.5rem 1rem;
  }
}/*# sourceMappingURL=styles.css.map */